.p-datepicker table td {
  padding: 0.13rem;
}

.p-datepicker table td {
  padding: 0.13rem;
}
.p-datepicker table td > span {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}

.p-calendar-w-btn .p-datepicker-trigger {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(234, 156, 128);
  &:hover {
    background-color: orangered;
}

}
