<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    header="{{ tittleForm }}"
    [style]="{ width: '50rem' }"
  >
    <form class="grid col-12" [formGroup]="formProduct">
      <div hidden class="col-12 gap-3 mb-1">
        <label for="id" class="font-semibold"></label>
        <input pInputText id="id" formControlName="id" class="w-full" />
      </div>

      <div class="col-12 gap-3 mb-1">
        <label for="name" class="font-semibold">{{ labels.name }}</label>
        <input pInputText id="name" formControlName="name" class="w-full" />
      </div>
      <div>
        <div *ngIf="submited && formProduct.get('name')?.hasError('required')">
          <small class="text-red-500">*{{ labels.required }}</small>
        </div>
      </div>

      <div class="col-12 gap-3 mb-1">
        <label for="categoryId" class="font-semibold w-6rem">{{
          labels.category
        }}</label>
        <input
          pInputText
          id="categoryId"
          formControlName="categoryId"
          class="w-full"
        />
        <div>
          <div
            *ngIf="
              submited && formProduct.get('categoryId')?.hasError('required')
            "
          >
            <small class="text-red-500">*{{ labels.required }}</small>
          </div>
        </div>
      </div>

      <div class="col-6 gap-3 mb-1">
        <label for="price" class="font-semibold w-6rem">{{
          labels.price
        }}</label>
        <input pInputText id="price" formControlName="price" class="w-full" />
        <div>
          <div
            *ngIf="submited && formProduct.get('price')?.hasError('required')"
          >
            <small class="text-red-500">*{{ labels.required }}</small>
          </div>
        </div>
      </div>

      <div class="col-6 gap-3 mb-1">
        <label for="inventory" class="font-semibold w-6rem">{{
          labels.addToInventary
        }}</label>
        <input
          pInputText
          id="inventory"
          formControlName="inventory"
          class="w-full"
        />
        <div>
          <div
            *ngIf="
              submited && formProduct.get('inventory')?.hasError('required')
            "
          >
            <small class="text-red-500">*{{ labels.required }}</small>
          </div>
        </div>
      </div>
      <div class="col-12 gap-3 mb-1">
        <label for="email" class="font-semibold w-6rem">{{
          labels.description
        }}</label>
        <textarea pInputTextarea id="email" class="w-full h-5rem"> </textarea>
      </div>
      <div class="col-offset-8 gap-5">
        <p-button
          class="ml-5"
          [label]="buttons.create"
          severity="secondary"
          (click)="save()"
        />
        <p-button
          class="ml-2"
          [label]="buttons.cancel"
          (click)="visible = false"
        />
      </div>
    </form>
  </p-dialog>
</div>
